* {
  font-family: "Dancing Script", cursive;
  font-family: "Roboto Slab", serif;
}

.main-image {
  width: 20vw;
  display: block;
}

.input-field {
  margin: 5vh;
  margin-left: 1vh;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(143, 65, 65, 0.06);
}

.input-title {
  color: #0a0118;
  font-weight: bold;
  width: 150px;
}

.hint1 {
  display: none;
  padding: 2%;
}

.header-img {
  width: 70vw;
}
